.Header {
    background-color: var(--white-prime);
    width: 100%;
}

.headerBanner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}

.headerBanner>div {
    display: flex;
    align-items: center;
    gap: 1vmin;
}

.headersize {
    /* width: 90%; */
    /* padding: clamp(1rem, 3vh + 1rem, 1.8rem) 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: var(--blue-prime);
    position: relative;

}

.mobileHeader {
    display: none;
    padding: 1rem;
    font-size: 3rem;
    color: var(--blue-prime);
    align-items: center;
    justify-content: space-between;
}

.Contact {
    background: var(--gabnet-main);
    color: var(--white-prime);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(1rem + 1vmin);
    padding: calc(1vmin / 2) 0;
}

.ContactLink {
    font-size: clamp(1rem, 2vw + 1rem, 1.3rem);
}

.ContactLink>div {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

@media (max-width: 780px) {
    .Header {
        width: 100%;
            display: flex;
            flex-direction: column;
        }
    .headersize {
        width: 100%;
        padding: 1rem;
        display: none;
    }

        .mobileHeader {
            display: flex;
        }

        .Contact {
            order: 1;
        }
    
        .ContactLink {
            font-size: 1rem;
        }
}