.Header{
    background-color: var(--yellow-prime);
    }

.headersize{
    width: 90%;
    padding: 2rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    color: var(--blue-prime);
}

.mobileHeader{
    display: none;
    padding: 1rem;
    font-size: 3rem;
    color: var(--blue-prime);
    align-items: center;
    justify-content: space-between;
}



@media (max-width: 730px){
   .headersize{
    width: 100%;
    padding: 1rem;
    display: none;
   }

   .mobileHeader{
    display:flex;
   }

   }