.logoContainer{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
 flex: 1;
}

.logoContainer img{
    width: auto;
}

@media (max-width: 730px){
.logoContainer img {
        height:clamp(6rem, 10vw + 1rem, 10rem);
    }
}


