.logoContainer{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
/* flex: 1; */
}

.logoContainer img{
    height: clamp(5rem, 7vw + 1rem, 8rem);
    width: auto;
}

/* @media (min-width: 730px) {
.logoContainer img {
        height: clamp(10rem, 10vw + 1rem, 13rem);
    }
}

*/


