.exploreoverlay{
    /* width:fit-content; */
    position: fixed;
    width: 60%;
    height: fit-content;
    /* display: flex; */
    background-color: white;
    font-weight: 100;
    font-size: 1rem;
    color: #0C2850;
    padding: 2rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px ;
    top: 335px;
    right: 2%;
    /* display: none; */
    box-shadow:0px 10px 15px rgba(0, 0, 0, 0.25);
    z-index:5;
}

.explorelist{
    column-count: 3;
    column-gap: 2rem;
    font-weight: 700;
}

.explorelist ul{
    margin-bottom: 3rem;
}

.exploreoverlay ul li{
    list-style: none;
    cursor: pointer;
}

.subCategory{
    list-style: none;
    font-size: 0.7rem;
    font-weight: 400;
    margin: 0.5rem;
}

.subCategory:hover{
    background-color: #203c63;
    color: white;
    width: fit-content;
    padding: 0 0.3rem;
}

.mobilelist li{
    list-style:none;
}