.Navigation {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gabnet-main);

}
.Navigation nav ul{
    display: flex;
    gap: 3rem;
}

.Navigation nav ul li {
   list-style: none;
font-size: clamp(0.5rem, 2vw + 1rem, 1.5rem);
    color: var(--white-prime);
    font-weight: bolder;
   cursor: pointer;
padding: 1rem 0;
    border-bottom: 5px solid transparent;
}

.Navigation nav ul li:hover {
    border-bottom: 5px solid var(--gabnet-secondary);
}

.menu{
    font-size: 4rem;
    color: var(--blue-prime);
    display: none;
}

@media (max-width: 780px){
    .Navigation{
        display: none;
    }

    .menu{
        display:block;
    }
}