
.ExploreList{
    color: var(--yellow-prime);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    cursor: pointer;
}
.ExploreList:hover{
    background-color: white;
    color: var(--blue-prime);
    padding: 0 0.5rem;
}
.ExploreList span{
    font-size: 1.3rem;
}
.sublist{
    color: aqua;
    font-size: 0.5rem;
    padding-left: 1rem;
  
} 

.sublist li {
    list-style:none;
}