.Container {
    min-height: 100vh;
    max-width: 1200px;
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 2fr 2fr;
    grid-template-areas:
        'a a b d'
        'a a c d'
        'e e f f'
        'g h i j';
    gap: 0.5rem;
}

.Container div {
    background-color: tomato;
    border-radius: 0.3rem;
}

.Container div:first-child {
    grid-area: a;
}

.Container div:nth-child(2) {
    grid-area: b;
}

.Container div:nth-child(3) {
    grid-area: c;
}

.Container div:nth-child(4) {
    grid-area: d;
}

.Container div:nth-child(5) {
    grid-area: e;
}

.Container div:nth-child(6) {
    grid-area: f;
}

.Container div:nth-child(7) {
    grid-area: g;
}

.Container div:nth-child(8) {
    grid-area: h;
}

.Container div:nth-child(9) {
    grid-area: i;
}

.Container div:nth-child(10) {
    grid-area: j;
}

@media (width <=780px) {
    .Container {
        grid-template-areas:
            'a a b b'
            'a a b b'
            'e e f f'
            'g h i j';
    }
}