.Featured {
    width: 100%;
    padding: calc(2vmin + 2px) 0;
    padding-bottom: 10rem;
    background: var(--gradient);
    min-height: 60svh;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}


.Title {
    margin: 2rem auto;
    max-width: fit-content;
    color: white;
    text-align: center;
    font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem)
}

.Slider {
    max-width: 1050px;
    height: 100%;
    border-radius: var(--border-radius-curve);
    overflow: hidden;
}

.Swiper {
    background-position: center;
    background-size: cover;
}

.griddy {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

.FeaturedProduct {
    border-radius: var(--border-radius-curve);
    background: #eefaff;
    height: 500px;
    width: 90%;
    margin: 0 auto;
    flex: 1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    overflow: hidden;
}

.Image {
    /* flex: 1; */
    border-radius: var(--border-radius-curve);
    display: grid;
    place-content: center;
    background: white;
    padding: 0 1rem;
}

.Image img {
    max-width: 100%;
    max-height: 100%;
}

.card {
    background-color: white;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    aspect-ratio: 1/0.5;

}

.description h4 {
    font-size: clamp(0.8rem, 2vw + 1rem, 1rem);
    color: var(--gabnet-secondary);
}

.description {
    flex: 1;
    color: var(--gabnet-dark);
    padding: 1rem;
    aspect-ratio: 1/0.3;
    flex: 1;
    width: 50%;
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.description p {
    font-size: clamp(0.5rem, 1.5vw + 1rem, 0.8rem);
}

.Button {
    background: var(--gradient);
    color: var(--white-prime);
    text-align: center;
    padding: 0.5rem 5rem;
    font-weight: bold;
    width: fit-content;
    border-radius: var(--border-radius-curve);
}

.Button:hover {
    background: var(--gabnet-clear);
}

.Tooltip {
    background: var(--gabnet-secondary);
    color: var(--white-prime);
    padding: 0.4rem;
    border-radius: var(--border-radius-curve);
}

@media (width <=768px) {
    .FeaturedProduct {
        flex-direction: column;
        height: 25rem;
            padding-bottom: 1.5rem;
    }

        .Image {
        height: 60%;
    }

        .Image img {
            height: 200px;
            width: 250px;
        }

        .description {
            width: 100%;
            padding: 0.5rem;
        }

        .Button {
            width: 100%;
    }
}