.modal{
    position: fixed;
    overflow-y: scroll;
    /* top:0;
    left: 5%; */
    width: 100%;
    height: 100vh;
    background-color:#0C2850;
    color: white;
    padding: 1rem;
    overflow: hidden;
    display: none;
    z-index: 1;
    
}

.modal nav{
    height: 100%;
    overflow-y: auto;
    
}

#modal-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.modal-image a img{
   width: 6rem;
   
}

#modal-head svg {
width: 2rem;
color: #0C2850;
}

.modal nav  ul li{
    list-style: none;
    padding: 1rem;
}
.modal nav ul li a{
    text-decoration: none;
    color: white;
   
}

#spacing ul li{
    padding: 0.2rem;

}

.modal nav ul hr{
    color: rgb(202, 198, 198);
}
.explore__dropdown{
    display:none;
}

.explore__close{
    display: none;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  0.3rem 1rem;
    
    
}

.dropdowns{
    display: flex;
    justify-content: space-between;
}

.dropdown h4{
    font-weight: 500;
    color: #FBB339;
}

.dropdowns svg{
    width: 1.5rem;
    color: #FBB339;
}

.dropdown span svg{
    width: 1.5rem;
    font-size: 1rem;
    color: #FBB339;
    font-weight: 700;
    cursor: pointer;
}

.minustoggle{
    display: none;
}
.plustoggle{
    display:none
}

.gen-toogle{
    display: none;
}

.gen-toogle a{
  font-size: 0.9rem;
  margin: 0rem 2rem;
  padding: 0;
 
 }

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.123);
    display: none;
}
#menu {
    display: none;
}
#menu svg{
    margin-left: 1.8rem;
    width: 2.5rem;
  
    /* visibility: hidden; */
}

#menu h1 a{
    color:#0C2850;
    text-decoration: none;

}

.dropdown h4 a{
        font-size: 1rem;
        color: #FBB339;
        text-decoration: none;
}




@media (max-width: 700px){
    #menu{
        display: flex;
        /* gap: 0.5rem; */
        align-items: center;
    }
    #menu h1{
        display:inline;
        font-size: 1.2rem;
    }
    #menu svg{
        display: inline;
    }
}

