@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, picture{
    max-width: 100%;
}


body{
    font-family: 'Open Sans', sans-serif; 
    --primary-blue :#0C2850;
    --primary-yellow: #FBB339;
   
    /* color: rgb(44, 41, 44);
    background-color: rgb(253, 253, 253); */
}

.header-cover{
    background-color: #FBB339 ;
    width: 100%;
    padding:1rem 0;
}


header{
    margin: 0 auto;
    color: #0C2850;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    
}

/* header h1{
background-color: rgb(0, 132, 255);
padding: 0.5rem;
border-radius: 50%;
color: white;
} */
.bigscreen{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    width: 60%;
    gap: 2rem;
}

.logo h1 a{
    text-decoration: none;
    color: var(--primary-blue);
}

.logoimg img{
    width: 9rem;
}

.search-div{
    width: 80%;
    height: fit-content;
    margin: auto 0;
    border: 1px solid #0C2850;
    display: flex;
   
    align-items: center;
    padding: none;
    border-radius: 0.5rem;
    overflow: hidden;
}

.search-div:hover{
    border: 1px solid white;
}
.search-div:active{
    border: 1px solid #040a13;
}

.search-div input{
    background-color: #FBB339 ;
    color: rgb(36, 35, 35);
    
    font-size: 1rem;
    width: 90%;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    
}

.search-div input:hover{
    border: none;
}
.search-div input:active{
    border: none;
}
.navigation{
    display: flex;
    gap: 3rem;
}
header svg{
    width: 2rem;
     
    
   
}

header nav ul{
display: flex;
gap:1.5rem;
}

header nav ul li{
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #0C2850;
}

.menu{
    display: none;
    /* background-color: aliceblue; */
    justify-content: space-between;
}
.menu svg{
    width: 2.6rem;
}

.menu img{
    width: 150px;
}


.smallscreen-search{
    width: 15%;
    height: fit-content;
    margin: auto 0;
    border: 1px solid #0C2850;
    display: flex;
   
    align-items: center;
    padding: none;
    border-radius: 0.5rem;
    overflow: hidden;
}
.smallscreen-search svg{
display: none;
}

.onCkick{
    width: 50%;
    height: fit-content;
    margin: auto 0;
    border: 1px solid #0C2850;
    display: flex;
    align-items: center;
    padding: none;
    border-radius: 0.5rem;
    overflow: hidden;
}



.smallscreen-search:hover{
    border: 1px solid white;
}
.smallscreen-search:active{
    border: 1px solid #040a13;
}

.smallscreen-search input{
    background-color: #FBB339 ;
    color: rgb(36, 35, 35);
    
    font-size: 1rem;
    width: 90%;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    outline: none;
    display: none;
}

.smallscreen-search input:hover{
    border: none;
}
.smallscreen-search input:active{
    border: none;
}

.smallscreen-search svg{
width: 2rem;
}



@media (max-width: 700px){
    header{
        width: 100%;
    }
   
    .menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .bigscreen{
        display:none;
    }
   
   

 .smallscreen-search{
    
    border: none;
 }

 

 .logoimg img{
    width:9rem;
}

.logoimgB img{
display: none;
}
    
    
}